.root{
    -fx-background-color: #FFFFFF;
}

.label{
    -fx-font-size: medium;
}

.header{
    -fx-font-weight: bold;
    -fx-font-size: large;
}

.outterGrid {
    -fx-background-color: #000000, #ECECEC ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-padding: 1 ;
}
.innerCell {
    -fx-background-color: #000000, #ECECEC ;
    -fx-background-insets: 0, 0 0 1 1 ;
}

.menuBar {
    -fx-background-color: linear-gradient(from 0% 0% to 200% 100%, white 0%, #EEEEEE 50%);
}

.filterBar {
    -fx-background-color: linear-gradient(from 0% 0% to 200% 100%, white 0%, #EEEEEE 50%);
    -fx-border-style: solid;
    -fx-padding: 5px;
    -fx-border-width: 2; 
    -fx-border-color: #555555 transparent #555555 transparent;
}

.referenceView {
    -fx-background-color: linear-gradient(from 0% 0% to 200% 100%, #EEEEEE 0%, white 50%);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.referenceItem {
    -fx-background-color: linear-gradient(from 0% 0% to 200% 100%, white 0%, #EEEEEE 50%);
    -fx-effect: dropshadow(gaussian, #444444, 10, 0, 0, 0);
}

