.root{
    -fx-background-color: #FFFFFF;
}

.label{
    -fx-font-size: medium;
}

.header{
    -fx-font-weight: bold;
    -fx-font-size: large;
}

.outterGrid {
    -fx-background-color: #000000, #ECECEC ;
    -fx-background-insets: 0, 1 1 0 0 ;
}
.innerCell {
    -fx-background-color: #000000, #ECECEC ;
    -fx-background-insets: 0, 0 0 1 1 ;
}

